<div class="container">
    <div class="row py-3">
      <div  class="col-3 offset-1 table-secondary text-center my-2">
        <h3 class="d-inline-flex pt-2 bd-highlight">注文履歴一覧</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-8 mx-auto">
        <table class="table">
          <thead class="table-secondary">
            <tr>
              <th>購入日時</th>
              <th>購入者</th>
              <th>注文個数</th>
              <th>注文ステータス</th>
            </tr>
          </thead>
         <tbody>
            <% @orders.each do |order| %>
            <tr>
                <td class="text-decoration-underline" >
                  <u><%= link_to order.created_at.strftime("%Y/%m/%d %H:%M:%S"), admin_order_path(order.id), class: "text-dark"%></u>
                </td>
                <td class="text-decoration-underline" >
                  <u><%= link_to order.customer.full_name, admin_customer_orders_path(order.customer.id), class: "text-dark" %></td></u>
                <td><%= order.order_details.inject(0) { |sum, order_detail| sum + order_detail.count } %></td>
                <td><%= order.order_status_i18n %></td>
            </tr>
            <% end %>
         </tbody>
        </table>
      </div>
    </div>
   <div class="d-flex justify-content-center"><%= paginate @orders %></div>
 </div>

