
<div class="container">
    <div class="row">
        <div class="col-md-12">
          <h2 class="text-decoration-underline"><u>注文履歴詳細</u></h2>
        </div>
        <div class="col-md-8 pt-3">
            <h3>注文情報</h3>
            <table class="table table-bordered">
                <tr>
                    <td class="info border border-dark table-active">注文日</td>
                    <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
                </tr>
                <tr>
                    <!-- 郵便番号・住所・宛名 -->
                    <td class="info border border-dark table-active">配送先</td>
                    <td>
                      〒<%= @order.post_code %><br>
                      <%= @order.address %><br>
                      <%= @order.name %>
                    </td>
                </tr>
                <tr>
                    <td class="info border border-dark table-active">支払い方法</td>
                    <td><%= @order.payment_method_i18n %></td>
                </tr>
                <tr>
                    <td class="info border border-dark table-active">ステータス</td>
                    <td><%= @order.order_status_i18n %></td>
                </tr>
            </table>
        </div>
        <div class="col-md-4 pt-3">
            <h3>請求情報</h3>
            <table class="table table-bordered">
                <tr>
                    <td class="info border border-dark table-active">商品合計</td>
                    <td><%= "¥#{(@order.total_payment).to_s(:delimited)}" %></td>
                </tr>
                <tr>
                    <td class="info border border-dark table-active">配送料</td>
                    <td>¥800</td>
                </tr>
                <tr>
                    <td class="info border border-dark table-active">ご請求額</td>
                    <td><%= "¥#{(@order.total_payment + 800).to_s(:delimited)}" %></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 pt-3">
            <h3>注文内容</h3>
            <table class="table table-bordered border border-dark">
                <thead>
                    <th class="info border border-dark table-active">商品</th>
                    <th class="info border border-dark table-active">単価(税込)</th>
                    <th class="info border border-dark table-active">個数</th>
                    <th class="info border border-dark table-active">小計</th>
                </thead>
                <tbody>
                    <% @order_details.each do |order_detail| %>
                        <tr>
                            <!-- 商品名 -->
                            <td><%= order_detail.item.name %></td>
                            <!-- 単価(税込) -->
                            <td>¥<%= ((order_detail.item.price_without_tax * 1.1).floor).to_s(:delimited) %></td>
                            <!-- 個数 -->
                            <td><%= order_detail.count %></td>
                            <!-- 小計 -->
                            <td>¥<%= ((order_detail.item.price_without_tax * 1.1).floor * order_detail.count).to_s(:delimited) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
