<div class = "container">
  <div class = "mx-auto  row  pt-3">
    <!--ジャンル検索欄（リンクなどはつけていない）-->
    <div class="col-2">
      <div class="list-group">
        <sapn class="list-group-item">ジャンル検索</sapn>
        <% @genres.each do |genre| %>
          <div class="list-group-item">
            <%= link_to genre.name %>
          </div>
        <% end %>
      </div>
    </div>
    <!--商品詳細-->
    <div class = "col-10">
      <% if !(@item.blank?) %>
        <div class = "row">
          <div class = "col-7">
            <%= attachment_image_tag @item, :image, :fill, 450, 450, resize:"450×450", class:"show-img w-100" %>
          </div>
          <div class = "col-5">
            <h4><%= @item.name %></h4>
            <p class = "mb-5"><%= @item.introduction %></p>
            <% if @item.is_sold == true %>
                <p class = "h6 d-inline-block bg-info text-light px-3 py-1 border border-dark rounded-pill font-weight-bold">販売中</p>
              <% else %>
                <p class = "h6 d-inline-block bg-danger text-light px-3 py-1 border border-dark rounded-pill font-weight-bold">売り切れ</p>
            <% end %>
            <p class = "h4"><%= "￥#{@item.with_tax_price.to_s(:delimited)}（税込）" %> </p>
            <!--カードに追加フォーム（販売中かつログインしなければ表示されない）-->
            <% if (customer_signed_in?) && (@item.is_sold == true)%>
            　<%= form_with model: @new_cart_item, url:public_cart_items_path do |f| %>
                <%= f.hidden_field :item_id, value: @item.id %>
                <%= f.select :count, *[1..10], include_blank: "個数選択" %>
                <%= f.submit 'カートに入れる', class: "btn btn-success ml-4" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>